/* mobile style */
@media screen and (max-width: 991px) {
    .customized-timeline .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }
    .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
        text-align: left !important;
    }
    .customized-timeline .p-timeline-event-opposite {
        flex: 0;
    }
    .customized-timeline .p-card {
        margin-top: 1rem;
    }
    .p-card-title {
        color: #e3e4e7;
        font-size: medium;
        margin-bottom: unset;
    }

    .p-card .p-card-content {
        padding: unset !important;
        font-size: small;
    }
}

@media screen and (min-width: 991px) {
    .p-card-title {
        color: #e3e4e7;
        font-size: large;
        margin-bottom: unset;
    }

    .p-card .p-card-content {
        padding: unset !important;
        font-size: medium;
    }
    .p-timeline-vertical.p-timeline-alternate
        .p-timeline-event:nth-child(2n)
        .p-timeline-event-content {
        text-align: left !important;
    }
}

/* icons style */
.z-1 {
    z-index: 1 !important;
}
.h-2rem {
    height: 2rem !important;
}
.w-2rem {
    width: 2rem !important;
}
.border-circle {
    border-radius: 50% !important;
}
.shadow-1 {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
        0px 1px 4px rgba(0, 0, 0, 0.08) !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-center {
    justify-content: center !important;
}
.flex {
    display: flex !important;
}
.text-white {
    color: #ffffff !important;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
