/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  box-sizing: border-box;
  background-image: url('./images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.css-46bh2p-MuiCardContent-root{
  padding: 8px !important;
}

.css-46bh2p-MuiCardContent-root:last-child{
  padding-bottom: 20px !important;
}